/* HTML */
html {
  font-family: Montserrat;
  font-size: 18px;
  color: #3B433B;
}

/* Header */
header {
  width: 100%;
}

div.top {
  display: flex;
  flex-direction: row;
  width: 100%;
  height:64px;
}

.logo {
  display: flex;
  align-items: center;
  /*justify-content: center;*/
  padding-left: 24px;
  width: 60%;
}

.name {
  font-weight: 500;
}
ul.menu {
  display: flex;
  flex-direction: row;
  padding-left: 16px;

}
.menuBox {
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav .menu {
  display: flex;
  text-align: right;
}

nav li {
  padding-left: 16px;

}

.menulist .menu {
  /*align-items: center;
  text-align: right;*/
}

#mobile-nav {
  display: none;
}

/* Banner */
.learn {
  width: 100%;
  background-color: lightgray;
  display: flex;
}

.learn .bannerpic {
  width: 60%;
  padding-left: 24px;
  padding-top: 32px;
  padding-right: 40px;
  padding-bottom: 32px;
}

.learn1 {
  display: flex;
  flex-direction: column;
  margin: auto;
}

h1 {
  font-size: 1.75rem;
  font-weight: bold;
  color: darkgrey;

}

h3 {
  font-size: 1rem;
  padding-top: 20px;
}

.start {
  margin-top: 40px;
  background-color: darkgray;
  padding-top: 8px;
  padding-right: 10px;
  padding-bottom: 8px;
  padding-left: 10px;
  width: 200px;
  color: white;
  text-align: center;
  }

.largerColumn .infopic {
    width: 60%;
    padding-left: 24px;
  padding-top: 32px;
    padding-right: 24px;
    padding-bottom: 32px;
}

h1.info1 {
  margin-top: 32px;
  margin-bottom: 24px;
  /*margin-left: 24px;*/
}

h1.info11 {
  margin-top: 32px;
  margin-bottom: 24px;
  margin-left: 24px;
}

p.infoquote {
  width: 60%;
  margin-left: 24px;
}

p.infoname {
  width: 60%;
  padding-top: 50px;
  padding-bottom: 45px;
  margin-left: 24px;
}
.largerColumn {
  width: 800px;
}
.smallerColumn {
  width: 423px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.infosection {
  display: flex;
}
.info1 {
  display: flex;

}
.infocampus {
  display: flex;
  flex-direction: column;
}
.infopicsmall {
  width: 35%;
  height: 35%;
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
}

.infoinfo {
  align-content: center;
  justify-content: center;
}
h3.infoline1 {
  padding-top: 50px;
}
p.infodescript {
  font-size: .75rem;
  padding-top: 8px;
  padding-bottom: 8px;
}
.read {
  font-size: .65rem;
  color: blue;
}
.info1a {
  display: flex;
  background-color: lightgray;
}
.title h1 {
  margin: 0 auto;
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
}
.learning {
  /*flex-wrap: wrap;*/
  background-color: lightgray;
  /*align-content: space-around;*/
  margin: 0 auto;
}
.learningbox {
  height: 275px;
  width: 250px;
  padding-left: 32px;
  /*padding-right: 32px;*/
}
.learningpic {
  height: 125px;
  width: 250px;
}
.learningbox h3 {
  display: flex;
  padding-top: 16px;
  font-size: .85rem;
  font-weight: 600;
  padding-left: 16px;
}
.learningbox h4 {
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: .85rem;
  font-weight: lighter;
  color: gray;
  padding-left: 16px;
}
.learningbox p {
  font-size: .65rem;
  font-weight: lighter;
  color: gray;
  padding-bottom: 24px;
  padding-left: 16px;
  padding-right: 16px;
}
.learningsoftwareengineering {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 48px;
  padding-right: 48px;

}
.row1 {
  display: flex;
  flex-direction: row;
}
.row2 {
  display: flex;
  flex-direction: row;
}
.learningbox2 {
  background-color: white;
}
.thesis {
  display: flex;
}
.thesistitle h1 {
  margin: 0 auto;
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
}
.thesisvideo {
  padding-left: 24px;

}
h3.videotitle {
  padding-top: 24px;
  font-size: 1rem;
  padding-left: 16px;
}
p.thesisquote {
  padding-top: 8px;
  font-size: .75rem;
  padding-left: 16px;
  padding-bottom: 32px;
}
.thesisSmallColumn {
  display: flex;
  flex-direction: column;
  width: 423px;

}
.thesisLargeColumn {
  width: 60%;
  display: flex;
  flex-direction: column;

}
.thesisBox {
  display: flex;
  width: 423px;
  height: 168px;
}
.thesisPic {
  padding: 16px;
  width: 125px;
  height: 125px;
}
.thesisPic1 {
  padding: 16px;
  width: 125px;
  height: 125px;
}
.thesisText h3 {
  font-size: 1.25rem;
  font-weight: lighter;

}
.thesisText {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.thesisText p {
  font-size: .85rem;
  padding-top: 16px;
}
footer {
  display: flex;
  flex-direction: row;
  padding-left: 24px;
  border-top: 1px solid lightgray;
  padding-top: 16px;
  padding-bottom: 48px;
  font-size: .95rem;

}
.right {
  display: flex;
  flex-direction: row;
}
.footerTerms {
  padding-left: 800px;
}
.footerPrivacy {
  padding-left: 50px;
}

@media only screen and (max-width:480px){
h3.infoline1 {
  padding-top: 1px;
}
}
@media only screen and (max-width:480px){
  .top {
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  #mobile-nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
  }
  #mobile-nav img {
    padding-left: 32px;
    padding-right: 32px;
  }
  ul.menu {
    display: none;
  }
  .logo {
    display: none;
  }
  .learn {
    display: flex;
    flex-direction: column;
  }
  .learn .bannerpic {
    width: 100%;
    height: 180px;
    margin: 0 auto;
  }
  .description {
    text-align: center;
    margin-top: 32px;
    margin-left: 16px;
  }
  h1.info1 {
    text-align: center;
    padding-top: 32px;
    padding-left: 16px;
    margin-top: .5px;
    margin-bottom: 0.5px;
  }
  .start {
    justify-content: center;
    margin-top: 24px;
    margin-bottom: 32px;
    margin-left: 16px;
  }
  .largerColumn{
    display: none;
  }
  .info1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 16px;
    padding-bottom: 32px;
  }
  .info1a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
  }
  .infopicsmall {
    width: 70%;
    height: 40%;
    padding-left: 16px;
    padding-right: 16px;
  }
  .infoinfo {
    padding-left: 16px;
    padding-bottom: 32px;
  }
  .learningpic {
    display: none;
  }
  .row1 {
    display: flex;
    flex-direction: column;
  }
  .row2 {
    display: flex;
    flex-direction: column;
  }
  .learningbox2 h4 {
    display: none;
  }
  .learningbox2 p {
    display: none;
  }
  .learningbox2 {
    background-color: lightgray;
    height: 48px;
    width: 250px;
    padding-bottom: 8px;
    margin-bottom: 8px;
  }
  .learning {
    background-color: white;

  }
  .title {
    padding-top: 32px;
    padding-bottom: 16px;
    /*padding-left: 16px;*/
    /*padding-right: 16px;*/
  }
  .learningbox2 h3 {
    font-size: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    /*line-height: 48px;*/
  }
  .learningbox {
    /*height: 48px;*/
    /*width: 250px;*/
    /*padding-bottom: 8px;*/
    /*margin-bottom: 8px;*/
    /*display: none;*/
  }
  .learningsoftwareengineering {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }
  .thesisSmallColumn {
    display: none;
  }
  .thesisvideo {
    height: 450px;
    width: 375px;
  }
  h3.videotitle {
    display: none;
  }
  p.thesisquote {
    display: none;
  }
  .right {
    display: none;
  }
  p.copyright {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
